@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', ui-sans-serif, system-ui;
 

}
.recharts-wrapper *:focus,
.recharts-surface:focus,
.recharts-layer:focus,
.recharts-legend-wrapper *:focus {
  outline: none !important;
  box-shadow: none !important;
}